root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
ij_visual_guides = 80, 120
indent_style = space

[*.php]
indent_size = 4

[*.{yml, yaml, neon, xml, xsl, json}]
indent_size = 2

[*.{md, markdown}]
max_line_length = 80
indent_size = 2
